<link rel="stylesheet" href="{{ "assets/css/custom.css" | relURL }}" />

<!-- Swiper JS -->
<script src="{{ "assets/js/swiper-bundle.min.js" | absURL }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('.swiper-container', {
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      autoplay: {
        delay: 3000,
      },
    });
  });
</script>

{{ if .Site.Params.enablePhotoswipe }}
  <link rel="stylesheet" href="{{ "css/photoswipe.min.css" | absURL }}">
  <link rel="stylesheet" href="{{ "css/photoswipe.default-skin.min.css" | absURL }}">
  <script src="{{ "js/photoswipe.min.js" | absURL }}"></script>
  <script src="{{ "js/photoswipe-ui-default.min.js" | absURL }}"></script>
{{ end }}