<link rel="icon" href="/favicon.ico" type="image/x-icon"></link>

<!-- Swiper CSS -->
<link rel="stylesheet" href="/css/custom/swiper-bundle.min.css"></link>
<link rel="stylesheet" href="/css/custom/custom.css"></link>

<!-- Swiper JS -->
<script src="/js/custom/swiper-bundle.min.js"></script>

{{ if .Site.Params.enablePhotoswipe }}
<link rel="stylesheet" href="{{ "css/photoswipe.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/photoswipe.default-skin.min.css" | absURL }}">
<script src="{{ "js/photoswipe.min.js" | absURL }}"></script>
<script src="{{ "js/photoswipe-ui-default.min.js" | absURL }}"></script>
{{ end }}